.git
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
.tox/
.nox/
build/
dist/
*.egg-info/
backend/venv/
backend/.venv/
backend/__pycache__/
